body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacremento', cursive;
    font-size: 5rem;
    color: #66BFBF;
    height: 2rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {}

.bottom-container {}

.profile-picture {
    border-radius: 60%;
    width: 250px;
}

.pro {
    text-decoration: underline;
    color: #11999E;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

a {
    color: #11999E;
}